---
---
$trailer_width: 944px;
$very_thin: 410px;

body {
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../site-background.jpg"), #000;
  background-repeat: no-repeat;
  background-position: center top;
  color: #ddd;
  text-align: center;
  padding-top: 1ex;
}

.title {
  $title_size: 100px;
  font: $title_size "Fenix", Serif;
  text-shadow: 0 0 $title_size*0.6 rgb(130, 130, 130),
    $title_size*0.03 $title_size*0.03 $title_size*0.02 black;
  padding: 0.1em 0 0.4em
}
@media only screen and (max-width: 750px) {
  .title {
    $title_size: 12vw;
    font: $title_size "Fenix", Serif;
    text-shadow: 0 0 $title_size*0.6 rgb(130, 130, 130),
      $title_size*0.03 $title_size*0.03 $title_size*0.02 black;
    padding: 0.1em 0 0.4em
  }
}

.screens {
  padding: 1.5em 0 0.75em;
  .screen {
    padding: 0 8px;
  }
  img {
    filter: brightness(66%);
    transition: filter 333ms ease-out;
  }
  img:hover {
      filter: brightness(100%);
  }
}
@media only screen and (max-width: $very_thin) {
  .screens {
    .screen {
      padding: 0 1%;
    }
    img {
      width: 43%;
    }
  }
}

.get-on-steam {
  color: #fff;
  text-decoration: none;

  div {
    display: inline-block;
    position: relative;
    top: -0.5em;
    right: -0.6em;
    font-size: 25px;
    margin: 0.5em 0;
  }
  img {
    height: 40px;
  }
  filter: brightness(75%);

  &:hover {
    filter: brightness(100%);
  }

  transition: filter 333ms ease-out;
}
@media only screen and (max-width: $very_thin) {
  .get-on-steam {
    div {
      font-size: 6vw;
    }
    img {
      height: 10vw;
    }
  }
}


.video-wrap {
  text-align: center;
}
@media only screen and (max-width: $trailer_width) {
  .video-wrap {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
  }
  .video-wrap iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

#social-links {
  $size: 40px;

  margin-top: 0ex;
  text-align: center;

  .description {
    padding: 1em 0 0.75em;
  }

  .social-link {
    $font_size: $size * (23/36);

    background: #888;
    border-radius: 100%;
    display: inline-block;
    width: $size;
    height: $size;
    margin: 0em 0.5em 0.5em;

    i.fa, i.fab, i.fas, i.far {
      font-size: $font_size;
      color: #111;
      padding-top: $font_size / 3.5;
    }
    i.fa-rss {
      padding-left: $font_size / 12;
    }
    &:hover {
      background: #ccc;
    }

    transition: background-color 333ms ease-out;
  }
}

// mail list signup
#mc_embed_signup {
  clear: left;
  width: 100%;
  padding: 0 0 0.5em;
  form div label {
    font-size: 15px;
  }
}
@media only screen and (max-width: $very_thin) {
  #mc_embed_signup form div label {
    font-size: 3.5vw;
  }
}

@font-face {
 font-family:'OpenSansLight';
 src:url("../fonts/OpenSans-Light-webfont.eot");
 src:url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Light-webfont.woff") format("woff"),url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:'OpenSansLightItalic';
 src:url("../fonts/OpenSans-LightItalic-webfont.eot");
 src:url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"),url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:'OpenSansRegular';
 src:url("../fonts/OpenSans-Regular-webfont.eot");
 src:url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansItalic';
 src:url("../fonts/OpenSans-Italic-webfont.eot");
 src:url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Italic-webfont.woff") format("woff"),url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansSemibold';
 src:url("../fonts/OpenSans-Semibold-webfont.eot");
 src:url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansSemiboldItalic';
 src:url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
 src:url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"),url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansBold';
 src:url("../fonts/OpenSans-Bold-webfont.eot");
 src:url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Bold-webfont.woff") format("woff"),url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansBoldItalic';
 src:url("../fonts/OpenSans-BoldItalic-webfont.eot");
 src:url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"),url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
