---
---
$trailer_width: 944px;
$very_thin: 450px;

body {
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../site-background.jpg"), #000;
  background-repeat: no-repeat;
  background-position: center top;
  color: #ddd;
  text-align: center;
  padding-top: 1ex;
}

.title2 {
  width: 950px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
}
@media only screen and (max-width: 950px) {
  .title2 {
    width: 100%;
    font-size: 12vw;
  }
}

.screens {
  padding: 1.5em 0 0.75em;
  .screen {
    padding: 0 8px;
  }
  img {
    filter: brightness(66%);
    transition: filter 333ms ease-out;
  }
  img:hover {
      filter: brightness(100%);
  }
}
@media only screen and (max-width: $very_thin) {
  .screens {
    .screen {
      padding: 0 1%;
    }
    img {
      width: 43%;
    }
  }
}

.buy-it {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1em;

  .buy-now {
    display: block;
    position: relative;
    padding-bottom: 1ex;
    font-size: 25px;
    margin: -1ex 0 0;
    filter: brightness(75%);
  }

  a {
    text-decoration: none;
  }
  img.steam {
    height: 40px;
    // margin-left: 2em;
  }
  img.itch {
    height: 35px;
    position: relative;
    top: -3px;
    margin-left: 2em;
  }
  img {
    filter: brightness(75%);
    &:hover {
      filter: brightness(100%);
    }
  }
}
@media only screen and (max-width: $very_thin) {
  .buy-it {
    .buy-now {
      font-size: 5vw;
      // display: none;
    }
    img.steam {
      height: 9vw;
    }
    img.itch {
      height: 8vw;
    }
  }
}

.video-wrap {
  text-align: center;
}
@media only screen and (max-width: $trailer_width) {
  .video-wrap {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
  }
  .video-wrap iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

#social-links {
  $size: 40px;

  margin-top: 0ex;
  text-align: center;

  .description {
    padding: 1em 0 0.75em;
  }

  .social-link {
    $font_size: $size * (23/36);

    background: #888;
    border-radius: 100%;
    display: inline-block;
    width: $size;
    height: $size;
    margin: 0em 0.5em 0.5em;

    i.fa, i.fab, i.fas, i.far {
      font-size: $font_size;
      color: #111;
      padding-top: $font_size / 3.5;
    }
    i.fa-rss {
      padding-left: $font_size / 12;
    }
    &:hover {
      background: #ccc;
    }

    transition: background-color 333ms ease-out;
  }
}

.signup-closed {
  font-style: italic;
  padding-bottom: 10px;
}

// mail list signup
#mc_embed_signup {
  background: transparent !important;
  clear: left;
  width: 100%;
  padding: 0 0 0.5em;
  form {
    padding-bottom: 0 !important;
    div label {
      font-size: 15px;
    }
  }

  .note {
    font-size: 13px;
    font-style: italic;
    padding-bottom: 10px;
    margin-top: -0.6em;
  }

  .button {
    background-color: green !important;
    &:hover {
      background-color: #00bc00 !important;
    }
  }
}
@media only screen and (max-width: $very_thin) {
  #mc_embed_signup {
    form div label {
      font-size: 3.5vw;
    }
    .note {
      font-size: 2.6vw;
    }
  }
  .signup-closed {
    font-size: 3.2vw ;
  }
}



@font-face {
 font-family:'OpenSansLight';
 src:url("../fonts/OpenSans-Light-webfont.eot");
 src:url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Light-webfont.woff") format("woff"),url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:'OpenSansLightItalic';
 src:url("../fonts/OpenSans-LightItalic-webfont.eot");
 src:url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"),url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:'OpenSansRegular';
 src:url("../fonts/OpenSans-Regular-webfont.eot");
 src:url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansItalic';
 src:url("../fonts/OpenSans-Italic-webfont.eot");
 src:url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Italic-webfont.woff") format("woff"),url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansSemibold';
 src:url("../fonts/OpenSans-Semibold-webfont.eot");
 src:url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansSemiboldItalic';
 src:url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
 src:url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"),url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansBold';
 src:url("../fonts/OpenSans-Bold-webfont.eot");
 src:url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Bold-webfont.woff") format("woff"),url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
@font-face {
 font-family:'OpenSansBoldItalic';
 src:url("../fonts/OpenSans-BoldItalic-webfont.eot");
 src:url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"),url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"),url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
 font-weight:normal;
 font-style:normal;
 -webkit-font-smoothing:antialiased
}
