---
---

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2bQb2mm4vw">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2bQb2mm4vw">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2bQb2mm4vw">
  <link rel="manifest" href="/manifest.json?v=2bQb2mm4vw">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2bQb2mm4vw" color="#252525">
  <link rel="shortcut icon" href="/favicon.ico?v=2bQb2mm4vw">
  <meta name="theme-color" content="#252525" />

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">

  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
</head>
<body>
  <p align="center">
    <img align="center" src="/assets/robot.png" />
  </p>
  <div id="social-links">
    <a class="social-link" title="Read the devblog"
      href="https://blog.roboinstruct.us">
      <i class="fa fa-flask" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Visit our facebook page"
      href="https://www.facebook.com/bigabgames">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Follow our twitter feed"
      href="https://twitter.com/bigabgames">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Subscribe to the devblog"
      href="https://blog.roboinstruct.us/feed.xml">
      <i class="fa fa-rss" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Send us an email"
      href="mailto:alex@roboinstruct.us">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
  </div>
</body>
</html>
