---
---

<html>
<head>
  <title>{{ site.title }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="theme-color" content="#252525" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Robo Instructus is a puzzle game in which players manoeuvre a robot by issuing instructions via a simple programming language. As players progress through the game they unlock new functions to overcome new puzzles, each of which can be solved in multiple ways." />
  <meta property="og:title" content="Robo Instructus" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="887138058340195" />
  <meta property="og:url" content="https://www.roboinstruct.us/" />
  <meta property="og:description" content="Robo Instructus is a puzzle game in which players manoeuvre a robot by issuing instructions via a simple programming language. As players progress through the game they unlock new functions to overcome new puzzles, each of which can be solved in multiple ways." />
  <meta property="og:image" content="https://www.roboinstruct.us/assets/og-image-45890c9.jpg" />
  <meta property="og:image:secure_url" content="https://www.roboinstruct.us/assets/og-image-45890c9.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="1200" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2bQb2mm4vw">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2bQb2mm4vw">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2bQb2mm4vw">
  <link rel="manifest" href="/manifest.json?v=2bQb2mm4vw">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2bQb2mm4vw" color="#252525">
  <link rel="shortcut icon" href="/favicon.ico?v=2bQb2mm4vw">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ 'assets/css/style2.css?v=' | append: site.github.build_revision | relative_url }}">
  {% comment %}
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  {% endcomment %}

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
</head>
<body>
  <img class="title2" src="/assets/logo-950w.png" alt="Robo Instructus" />

  <div class="buy-it">
    <div class="buy-now">Out 16th July</div>
    <a href="https://store.steampowered.com/app/1032170">
      <img class="steam" src="/assets/steam.png" />
    </a>
    <a href="https://bigabgames.itch.io/robo-instructus">
      <img class="itch" src="/assets/itch-logo-white-new.png" />
    </a>
  </div>

  <div class="video-wrap">
    <iframe width="944" height="531"
      src="https://www.youtube-nocookie.com/embed/hTisYPcko6s?vq=hd1080"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>

  <div class="screens">
    <a href="/assets/screen-1.jpg" class="screen"><img src="/assets/screen-1-sm.jpg" /></a>
    <a href="/assets/screen-2.jpg" class="screen"><img src="/assets/screen-2-sm.jpg" /></a>
    <a href="/assets/screen-3.jpg" class="screen"><img src="/assets/screen-3-sm.jpg" /></a>
    <a href="/assets/screen-4.jpg" class="screen"><img src="/assets/screen-4-sm.jpg" /></a>
    <a href="/assets/screen-5.jpg" class="screen"><img src="/assets/screen-5-sm.jpg" /></a>
  </div>

  <div id="social-links">
    <div class="description">Connect with Robo Instructus and Big AB Games</div>
    <a class="social-link" title="Read the devblog"
      href="https://blog.roboinstruct.us">
      <i class="fa fa-flask" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Visit our facebook page"
      href="https://www.facebook.com/bigabgames">
      <i class="fab fa-facebook-f" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Follow our twitter feed"
      href="https://twitter.com/bigabgames">
      <i class="fab fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Subscribe to the devblog RSS"
      href="https://blog.roboinstruct.us/feed.xml">
      <i class="fa fa-rss" aria-hidden="true"></i>
    </a>
    <a class="social-link" title="Send us an email"
      href="mailto:alex@roboinstruct.us">
      <i class="far fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</body>
</html>
